[Unit]
Description=Setup boom
After=can0setup.service

[Service]
ExecStart=/starq_ws/src/docs/startup/start-boom.sh
Type=oneshot
RemainAfterExit=yes
User=pi
Group=pi

[Install]
WantedBy=multi-user.target