[Unit]
Description=Boom update service
After=network.target

[Service]
ExecStart=/starq_ws/src/docs/startup/update-boom.sh
Type=oneshot
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target
